<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head"></div>
    <title>Oversigt over firmaer</title>
</head>
<body>
<div th:replace="/fragments/navbar"></div>

<div class="container">
    <br>
    <h1>Oversigt over firmaer</h1>
    <br>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Navn</th>
            <th>Produkter</th>
            <th>Beskrivelse</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="companydescription : ${descriptions}">
            <td th:text="${companydescription.company.getCompany_id()}"></td>
            <td th:text="${companydescription.company.getName()}"></td>
            <td th:text="${companydescription.company.getProducts().size()}"></td>
            <td th:text="${companydescription.getDescription()}"></td>
            <td>
                <a th:href="@{'/company/details/' + ${companydescription.company.getCompany_id()}}"><button type="button" class="btn btn-success">Detaljer</button></a>
                <a th:href="@{'/company/update/' + ${companydescription.company.getCompany_id()}}"><button type="button" class="btn btn-primary">Opdater</button></a>
                <a th:href="@{'/company/delete/' + ${companydescription.company.getCompany_id()}}"><button type="button" class="btn btn-danger">Slet</button></a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <a href="/company/create"><button type="button" class="btn btn-success">Tilføj nyt firma</button></a>
</div>

<div th:replace="/fragments/bottom_scripts"></div>
</body>
</html>