<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <br>
    <h1>Opret vare</h1>
    <br>
    <form action="/create" method="post">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="Indtast ID">
        </div>
        <div class="form-group">
            <label for="name">Navn</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Indtast navn">
        </div>
        <div class="form-group">
            <label for="price">Pris</label>
            <input type="text" class="form-control" id="price" name="price" placeholder="Indtast pris">
        </div>
        <div class="form-group">
            <label for="description">Beskrivelse</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Indtast beskrivelse">
        </div>
        <button type="submit" class="btn btn-primary">Opret</button>
    </form>
</div>

</body>
</html>