<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdater</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <br>
    <h1>Opdater vare</h1>
    <br>
    <form action="/update" method="post">
        <input type="hidden" name="id" th:value="${prod.id}">
        <div class="form-group">
            <label for="name">Navn</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${prod.name}">
        </div>
        <div class="form-group">
            <label for="price">Pris</label>
            <input type="text" class="form-control" id="price" name="price" th:value="${prod.price}">
        </div>
        <div class="form-group">
            <label for="description">Beskrivelse</label>
            <input type="text" class="form-control" id="description" name="description" th:value="${prod.description}">
        </div>
        <button type="submit" class="btn btn-primary">Opdater</button>
    </form>
</div>

</body>
</html>